.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffff; /* Optional: dark background */
}

.loading-sprite {
  width: 100px; /* Adjust size as needed */
  height: 100px;
  filter: brightness(0); /* Darken the sprite */
  animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
